/* OptionDesk Pro High Contrast Theme */

QMainWindow {
    background-color: #000000;
    color: #ffffff;
}

QMenuBar, QStatusBar, QToolBar {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

QTabBar::tab:selected {
    background: #ffff00;
    color: #000000;
}

QTableView {
    background-color: #000000;
    color: #ffffff;
    gridline-color: #ffffff;
    selection-background-color: #ffff00;
    selection-color: #000000;
}

QPushButton {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

QPushButton:hover {
    background-color: #ffff00;
    color: #000000;
}
